@tailwind utilities;

@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';

.body {
   font: var(--font-m);
   background-color: var(--bg-color);
   color: var(--primary-color);
}

.app {
   min-height: 100vh;
}
