.Modal {
   position: fixed;
   inset: 0;

   opacity: 0;
   pointer-events: none;
   z-index: -1;

   &.opened {
      opacity: 1;
      pointer-events: all;
      z-index: var(--z-index-modal);
      .content {
         transform: scale(1);
      }
   }
   &.isClosing {
      .content {
         transform: scale(0);
      }
   }
}

.overlay {
   width: 100%;
   height: 100%;
   background-color: var(--overlay-color);

   display: flex;
   align-items: center;
   justify-content: center;
}

.content {
   padding: 20px;
   border-radius: 12px;
   background: var(--bg-color);

   transition: 0.2s transform;
   transform: scale(0.5);
   max-width: 60%;
}
