.Sidebar {
   height: calc(100vh - var(--navbar-height));
   width: var(--sidebar-width);
   background: var(--inverted-bg-color);

   position: relative;
   transition: 0.3s;
}

.switchers {
   width: 100%;
   position: absolute;
   bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;
}

.collapseBtn {
   position: absolute;
   right: -32px;
   bottom: 32px;
}

.links {
   margin-top: 32px;
   display: flex;
   flex-direction: column;
}

.link {
   display: flex;
   align-items: center;
   gap: 12px;
   padding: 16px 30px 16px 30px;

   svg {
      fill: currentColor;
   }
}

.collapsed {
   width: var(--sidebar-width-collapsed);

   .switchers {
      flex-direction: column;
   }
   .link {
      span {
         display: none;
      }
   }
}
